<div app>
    <div map="map"></div>
    <div panelizq>
        <div layers map-target="map">
            <div prototype>
                <div element>
                    <input type="checkbox" option-cartography></input>
                    <div label></div>
                </div>
            </div>
            <app name="layers" button><i class="fa fa-map-o"></i></app>
            <div title>Capas Disponbiles</div>
            <div body></div>
        </div>
        <div cartography map-target="map">
            <div prototype>
                <div element>
                    <input type="checkbox" option-cartography></input>
                    <div label></div>
                </div>
            </div>
            <app name="cartography" button><i class="fa fa-map-marker"></i></app>
            <div title>Cartografia</div>
            <div body>
            </div>
        </div>
        <div demo map-target="map">
            <app name="demo" button><i class="fa fa-map-marker"></i></app>
            <div title>Demo</div>
            <div body>
            </div>
        </div>
    </div>
    <div buttons>
        <div prototype>
            <div button>
                <div icon></div>
            </div>
        </div>
    </div>
</div>
